{% extends "common/site_base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}Treasure Valley Python{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>Treasure Valley Python Users{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                We are a group of python users or learners located in the beautiful Treasure Valley of Idaho.
                Members are experienced, just learning, or brand new to Python. We hold monthly meetings at the
                Watercooler in downtown Boise, as well as a monthly 'Hacker' meeting where uses bring a project
                to work on, get help with, or just learn something new.
                {% endblocktrans %}
            </p>
            {% if user.is_authenticated %}
                {% comment %}
                {% url "what_next" as what_next_url %}
                <p class="what_next">{% blocktrans %}Wondering
                    <a href="{{ what_next_url }}" class="btn btn-primary large">What Next</a>?{% endblocktrans %}</p>
                {% endcomment %}
            {% else %}
                {% url "account_login" as login_url %}
                {% if ACCOUNT_OPEN_SIGNUP %}
                    {% url "account_signup" as signup_url %}
                    <p>{% blocktrans %}
                        You can <a href="{{ login_url }}" class="btn btn-default">Log In</a>
                        or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a>
                        to try out the site.{% endblocktrans %}</p>
                {% endif %}
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}Why do we love Python?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Python</b> is an object oriented scripting language. There are more than <a target='_blank' href="https://pypi.python.org/pypi">50 thousand installable packages</a>
                available for a host of applications. Python can be used to perform complex mathematics using the
                numpy or scipy libraries, 3D graphics and games using <a target='_blank' href="https://www.panda3d.org/">Panda3d</a>,
                    games using <a target='_blank' href="http://pygame.org/news.html">PyGame</a>, and even mobile
                applications using <a target='_blank' href="http://kivy.org/">Kivy</a>.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Meetings</b> Meetings are held on the 2nd Tuesday of the month
                        at the <a target='_blank' href="http://www.watercoolerboise.com/">Watercooler</a> in Downtown Boise.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Join</b> Join the group using the <a target='_blank' href="http://www.meetup.com/Boise-Python-Developers/">meetup site</a>
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Learn</b> There are many learning resources. We will be adding more here, but start
                        with the <a target='_blank' href="http://www.codecademy.com/en/tracks/python">Code Academy</a> lectures.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://www.meetup.com/Boise-Python-Developers/">Boise Python Developers Meetup</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
